//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 13 13:12:38 2021
//! **************************************************************************

SCHEMATIC START;
COMP "C" LOCATE = SITE "D11" LEVEL 1;
COMP "P" LOCATE = SITE "C11" LEVEL 1;
COMP "R" LOCATE = SITE "F9" LEVEL 1;
COMP "D0" LOCATE = SITE "L13" LEVEL 1;
COMP "T" LOCATE = SITE "E9" LEVEL 1;
COMP "D1" LOCATE = SITE "L14" LEVEL 1;
COMP "D2" LOCATE = SITE "H18" LEVEL 1;
COMP "D3" LOCATE = SITE "N17" LEVEL 1;
SCHEMATIC END;

