
# PlanAhead Generated physical constraints 

NET "Q[0]" LOC = D11;
NET "Q[1]" LOC = E9;
NET "RESET" LOC = D18;
NET "CLK_CR" LOC = K17;
NET "S" LOC = F12;
NET "E" LOC = L13;
NET "CLK_50MHZ" LOC = C9;
